<mat-toolbar fxHide.xs fxHide.sm fxHide.md></mat-toolbar>
<div gutterSize="20px" fxLayout="column" fxLayoutAlign="center center" class='padding20 signup-container show-animation'>
    <!-- <img class='welcome-logo mat-elevation-z1' src="../assets/eande.svg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <h1 class='center oleo-font'>e&e</h1>
        <p class='center roboto-font'>e&e remembers your movies, so you don't have to</p>
        <p class='disclaimer'>Note: this site makes revenue off Amazon Associate qualifing purchases</p>

    </mat-card-content>
    <mat-card-actions>
        <button color="accent" mat-raised-button (click)="login()">Login with Google</button>
    </mat-card-actions>
</div>