.eande-toolbar-top{
    background: #fafafa;
	color: #5d5c5c;
    border-bottom: 1px solid #dacfcf;
}
.fixed-top{
    position: fixed;
    z-index: 1;
}

.white-font{
    color: white !important;
}
.user-image{
    max-width: 32px;
    border-radius: 40px;
    margin-left:10px;
}